p {
  width: 70%;
  margin: 0.7em auto;
  overflow: hidden;
  text-align: center;
  font-weight: 300;
  color: #fff;
}
#line:before,
#line:after {
  content: "";
  display: inline-block;
  width: 50%;
  margin: 0 0.5em 0 -55%;
  vertical-align: middle;
  border-bottom: 1px solid;
}
#line:after {
  margin: 0 -55% 0 0.5em;
}
span {
  display: inline-block;
  vertical-align: middle;
}
